<%= form_with(model: contact, class: "form") do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-50 m-auto">
    <%= form.text_field :first_name, class: "form-control", placeholder: "First Name" %>
    <br>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
    <br>
    <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
    <br>
    <%= form.text_field :phone, class: "form-control", placeholder: "Phone Number" %>
    <br>
    <%= form.text_field :social_media, class: "form-control", placeholder: "Social Media" %>
    <br>
    <div class="d-grid w-50 mx-auto">
    <% if current_page?(new_contact_path) or contact.errors.any? %>
      <%= button_tag(type: "submit", class:"btn btn-outline-secondary ") do %>Create<% end %>
    <% else %>
      <%= button_tag(type: "submit", class:"btn btn-outline-secondary ") do %>Update<% end %>
    <% end %>
    </div>
  </div>
<% end %>
<% if current_page?(new_contact_path) %>
<div class="mt-4 d-flex justify-content-evenly w-75 mx-auto">
  <%= link_to "Back to homepage", contacts_path, class:"btn btn-outline-secondary" %>
</div>
<% else %>
<div class="mt-4 d-flex justify-content-evenly w-75 mx-auto">
  <%= link_to "Show this contact", @contact, class:"btn btn-outline-secondary" %>
  <%= link_to "Back to homepage", contacts_path, class:"btn btn-outline-secondary" %>
</div>
<% end %>
