<%= form_with(model: contact, class: "form") do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="w-50 m-auto">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: "form-control" %>
    <br>
    <%= form.label :last_name%>
    <%= form.text_field :last_name, class: "form-control" %>
    <br>
    <%= form.label :email%>
    <%= form.text_field :email, class: "form-control" %>
    <br>
    <%= form.label :phone%>
    <%= form.text_field :phone, class: "form-control" %>
    <br>
    <%= form.label :social_media%>
    <%= form.text_field :social_media, class: "form-control" %>
    <br>
    <div class="d-grid w-50 mx-auto">
      <%= button_tag(type: "submit", class:"btn btn-outline-secondary ") do %>Update<%end%>
    </div>
  </div>
<% end %>

<div class="mt-4 d-flex justify-content-evenly w-75 mx-auto">
  <%= link_to "Show this contact", @contact, class:"btn btn-outline-secondary" %>
  <%= link_to "Back to contacts", contacts_path, class:"btn btn-outline-secondary" %>
</div>
